/* index.css */

/* .list-group {
    background-color: black;
} */

.wd-kanbas-navigation-list .list-group-item {
  background-color: black;
  color: white;
  border: none;
  padding: 0px;
}

.wd-kanbas-navigation-list .wd-icon {
  color: red;
  font-size: 2em;
}

.wd-kanbas-navigation-list .wd-icon.wd-account {
  color: lightslategray;
}

/* To remove the border from first element on the navigation bar */
.wd-kanbas-navigation-list .list-group-item:first-child {
  border: none;
  border-radius: 0px;
}

.wd-icon-and-image img {
  width: 5em;
  height: 4em;
}

.wd-icon-and-image {
  align-items: center;
  background-color: black;
}

.wd-kanbas-navigation-list .list-group-item.active {
  background-color: white;
  color: red;
}

.wd-fg-white {
  color: white;
}

.wd-kanbas-navigation-list {
  height: 100%;
}
